.header{
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    align-items: center;
    padding: 15px;

}
.about{
    display: flex;
    gap: 20px;   
}
.about h4{
    font-size: 18px;
}
.about h4:hover{
    cursor: pointer;
    color: darkcyan;
}
.search{
    width: 350px;
    padding: 10px;
    border: 1px solid rgb(244, 218, 218);
    
}
.store{
    display: flex;
    gap: 5px;
    align-items: center;
}

.burger-nav-bar {
    position: relative;
  }
  
  .nav-bar {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .burger-icon {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
  }
  .menu-bar {
    position: absolute;
    top: 100%;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    z-index: 999; /* Ensure it's above other content */
    width: 400px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .menu-bar-link{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 250px;
    gap: 20px;
  }
  
  .menu-bar-link p:hover{
    cursor: pointer;
    background-color: rgb(219, 236, 251);
  }